.App{
  max-width: 960px;
  margin: 0px auto;
  font-family: 'Arial', 'sans-serif';
}
button{
  font-weight: 700;
  padding: 8px 30px;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
}
li{
  margin: 10px 0;
  list-style-type: none;
}
a {
  display: inline-block;
  vertical-align: top;
  background: #f9f9f9;
  font-size: 12px;
  border-radius: 5px;
  margin: 10px 5px;
  padding: 10px;
  color: #000;
}
label {
  margin-right: 20px;
  cursor: pointer;
}
input {
  display: inline-block;
  vertical-align: middle;
  margin: -4px 5px 0 0px;
}
a:hover {
  text-decoration: none;
}

.upload_btn {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  background: #e2e3ef;
  font-size: 12px;
  border-radius: 5px;
  margin: 10px 5px;
  padding: 10px;
  color: #000;
}

.upload_btn:hover {
  background: #a7adf5;
}

.remove_btn {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
  background: #eee;
  font-size: 24px;
  line-height: 32px;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  margin: 10px;
  font-weight: 700;
  color: #555;
}

.remove_btn:hover {
  background: #ccc;
}